.App {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  margin: 0 auto 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-blue {background-color: #008CBA;} /* Blue */
.button-red {background-color: #f44336;} /* Red */ 

.text{
  font-weight: bold;
  color:black;
}

.pink{
  background-color: pink;
}
.red{
  background-color: red;
}